<h1>{{title}}</h1>

<div class="container">
<form>

  Número 1: <input type="number" name="numero_01" [(ngModel)] = "numero_01"><br/>
  Número 2: <input type="number" name="numero_02" [(ngModel)] = "numero_02">
  <hr>
  <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-primary">
  <input type="submit" value="Restar" (click)="restar()" class="btn btn-primary">
  <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-primary">
  <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-primary">
  <br/>

</form>
</div>

Resultado: {{resultado}}
